@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --cor-destaque: #C92071;
    --cor-cinza-padrao: #474747;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    list-style-type: none;
}

html, body {
    height: 100%;
}

header {

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 4.5px;
        width: 178px;
        height: 64px;
        margin: 0 auto;
        font-size: 20px;
        font-weight: 600;
        color: var(--cor-destaque);
    }

    img {
    width: 20px;
    margin-bottom: 0.5px;
}
}

main {
    background: linear-gradient(#B5B6F2, #efefff);
    padding: 63px 0 80px;

    form{
        width: 315px;
        height: 572px;
        margin: 0 auto;
        background-color: #FFF;
        padding: 30px;

        .text {

            h1 {
                font-size: 22px;
                line-height: 34px;
                color: #1f1f1f;
                letter-spacing: 2px;
                text-align: center;
            }

            p {
                font-size: 14px;
                letter-spacing: .25px;
                color: var(--cor-cinza-padrao);
                line-height: 24px;
                text-align: center;

                a {
                    border-bottom: solid 0.25px var(--cor-cinza-padrao);
                }
            }
        }
    }
}

footer {
    background-color: #1f1f1f;
    color: #FFF;
    padding: 50px 20px 45px;

    .logo-footer {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-bottom: 20px;

        span {
            font-size: 25px;
            font-weight: 600;
        }
    }

    p {
        font-size: 14px;
        line-height: 22px;
        letter-spacing: .25px;
        font-weight: 500;
        margin-bottom: 30px;
    }

    ul {
        display: flex;
        align-items: center;
        gap: 35px;
        margin-bottom: 40px;
    }
}